h1 {
    color: #ca4028;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: bold;
}

body {
    background-color: #f2f5f9;
    color:black;
}
.card {
    
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.card-title {
    color: #9b1d07;
}
.box{
    background-color:beige;
}
footer{
    background-color: #4279a9;
    color:#fff;
    padding: 40px;
    margin-top: 40px;
}

@media(max-width:768px){
    body{
        background-color:#fb7b0b;
        color:#000;
        font-family: Arial, Helvetica, sans-serif;
    }

    
}
